/* Base Styles */
.root {
  -fx-font-family: 'Segoe UI', Arial, sans-serif;
}

.account-text {
  -fx-font-size: 16px;
  -fx-text-fill: white;
  -fx-translate-y: 150px; 
  -fx-translate-x: 100px; 
}

.footer-text {
  -fx-font-size: 16px;
  -fx-text-fill: black;
  -fx-cursor: hand;
  
}

/* Button Styles */
.student-button {
  -fx-background-color: #2ecc71;
  -fx-text-fill: white;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-padding: 10px 50px;
  -fx-background-radius: 25px;
  -fx-cursor: hand;
  -fx-translate-y: 150px; /* Move down by 30 pixels */
}

.student-button:hover {
  -fx-background-color: #27ae60;
}

.teacher-button {
  -fx-background-color: #f1c40f;
  -fx-text-fill: white;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-padding: 10px 50px;
  -fx-background-radius: 25px;
  -fx-cursor: hand;
  -fx-translate-y: 150px; /* Move down by 30 pixels */
}

.teacher-button:hover {
  -fx-background-color: #f39c12;
}

/* Account section styling */
.account-section {
  -fx-translate-y: 100px; /* Move down by 60 pixels */
}

.register-button {
  -fx-background-color: rgba(200, 200, 200, 0.8);
  -fx-text-fill: #333;
  -fx-font-size: 16px;
  -fx-font-weight: normal;
  -fx-padding: 8px 20px;
  -fx-background-radius: 25px;
  -fx-cursor: hand;
  -fx-translate-y: 150px; 
  -fx-translate-x: 110px; 
}

.register-button:hover {
  -fx-background-color: rgba(200, 200, 200, 1.0);
}